/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}



html,body{
	height:100%;
margin:0;
padding:0;
font-family: Georgia;
background: url(../images/slider1.jpg) no-repeat;
background-size:cover;
transition-property: all;
transition-duration: 2s;
transition-timing-function: ease-in;
}

#wrapper{
width: 940px;
margin: 0 auto;
}

.main, .header{
width: 100%;
float: left;
}

.header{
height: 499px;
}

.logo{
width: 350px;
margin: 160px auto 40px;
text-align: center;
}

h1{
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
color: #fff;
font-size: 56px;
font-weight:200;
letter-spacing: -2px;
margin-bottom: 10px;
}

h1 strong{
color: #fff;
}

h2{
font-size: 10px;
color: #fff;
text-transform: uppercase;
letter-spacing: 3px;
}

.form{
width: 474px;
margin: 0 auto;
color: #fff;
}

.form p{
font-size: 9px;
text-transform: uppercase;
letter-spacing: 1px;
float: left;
padding-top: 9px;
margin-right: 10px;
}

.form input{
	margin:0 auto;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
border: 1px solid #7d706b;
background: none;
font-size: 9px;
letter-spacing: 2px;
color: #beb7b3;
width: 192px;
text-transform: uppercase;
font-family: Georgia;
padding: 8px 10px;
background:#FFF;
}

ul.social{
width: 131px;
margin: 141px auto 0;
height: 19px;

-webkit-border-radius: 15px 15px 0 0;
border-radius: 15px 15px 0 0;
padding: 10px 26px;
}

ul.social li{
background: url(../images/social.png) left top no-repeat;
position: relative;
height: 19px;
display: block;
}

ul.social li a{
display: block;
}


#facebook{
	width:100%;
height: 19px;
background-position: 0 0;
margin-right: 44px;
}

ul.social li.facebook a{
height: 19px;
width: 10px;
}

ul.social li.facebook:hover{
background-position: 0 -20px;
}


ul.social li.twitter{
height: 19px;
background-position: -54px 0;
width: 19px;
margin-right: 39px;
}

ul.social li.twitter a{
height: 19px;
width: 19px;
}


ul.social li.twitter:hover{
background-position: -54px -20px;
}


ul.social li.youtube{
height: 19px;
background-position: -112px 0;
width: 19px;
}

ul.social li.youtube a{
height: 19px;
width: 19px;
}


ul.social li.youtube:hover{
background-position: -112px -20px;
}

ul.boxes{
margin-top: 50px;
width: 100%;
position:absolute;
bottom:20px;
left: 20px;
}

h3{
font-size: 14px;
margin-bottom: 10px;
text-transform: none;
}

ul.boxes li{
font-size: 16px;
font-weight: bold;
position: relative;
text-transform: uppercase;
float: left;
text-align: center;
letter-spacing: 2px;
color: #433022;
margin-right: 20px;
width: 300px;
}

span.divider{
position: absolute;
width: 1px;
height: 20px;
background: #d3d1cf;
right: -5px;
}

ul.boxes li.last{
float: left;
margin-right: 0;
width: 300px;
}

ul.boxes li a{
color: #433022;
text-decoration: none;
}


ul.boxes li a:hover{
text-decoration: underline;
}
#feed{
	margin-top: 50px;
	width:100px;
	height:20px;
	font-size: 12px;
text-transform: uppercase;
letter-spacing: 1px;
text-align:center;
}

.social {
  position: relative;
  width: 100%;
  margin-top: 30%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.twitter {
  background-color: #00ACEE;
  color: white;
}

.social .link.facebook {
  background:url(../images/facebook.png) no-repeat center;
  background-size:90%;
  color: white;
}


