
header
{
    width: 100%;
    height: 80vh;
 overflow: hidden;
	
}
@-webkit-keyframes pulse {
	from {
   background-size: 105%;
	}
	50% {
	
   background-size: 110%;
	}
	to {
	
  background-size: 100%;
	}
}
#support
{
      background-image:url(../images/nav2.jpg);
	background-position:right top;
	transition-property:all;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
			  /*opacity: .7;*/
 
    position: relative;
    z-index: 0;
			
}

#support:
footer
{
    width: 100%;
  
}
#footer-slide
{
  
 background: #e9eaea;

 

}
#footer-social
{
  height: 20%;
  background: #e9eaea;
  margin: 0px;
  padding: 20px;
  /*margin-top: -50px;
  z-index: 99;
  position: relative;*/

}
#scenter
{
    display: inline-block;
   /* background: green;*/
    text-align:left;
}
#footer-information
{
 height: 30px;
 background: #e9eaea;
    text-align: center;
 
 
}


/* SOCIAL --------------------------------------------------------*/
#social{
  padding:05px;
  width:10
    0%;
  -webkit-transition: background .5s;
	-moz-transition: background .5s;
	-ms-transition: background .5s;
	-o-transition: background .5s;
	transition: background .5s;
}
#social ul{
  text-align: center;
  padding-right: 3%;
  margin:40px auto;
}
#social p{
  text-align:center;
  font-family:Arial;
  font-weight:bold;
  opacity:.4;
  padding:10px;
}
#social ul > li {
	display: inline-block;
	margin: 0 15px;
	background-image: url(../images/sprite2.png);
	opacity: .4;
	-webkit-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-ms-transition: opacity .4s;
	-o-transition: opacity .4s;
	transition: opacity .4s;
}
#social ul > li > a {
	display: block;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
}
#social ul > li.facebook { background-position:0 0; }
#social ul > li.twitter  { background-position:0 -36px; }
#social ul >  li.tumblr 
{ 
	background-image:url(../images/tumblr.png);
	background-repeat:no-repeat;
	background-size:contain;
	
 }
#social ul >  li.youtube { background-position:0 -144px; }
#social ul  > li.facebook:hover 
{ 
	background-position:0 0;
	opacity:.7 !important;
}
#social ul > li.twitter:hover 
{ 
	background-position:0 -36px; 
	opacity:.7 !important;
}
#social ul > li.tumblr:hover 
{ 
	background-image:url(../images/tumblr.png);
	background-repeat:no-repeat;
	background-size:contain;
	opacity:.7 !important;
 }
#social ul > li.youtube:hover 
{ 
	background-position:0 -144px; 
	opacity:.7 !important;
}
.facebook.active{
  /*background-color:#3B5998  !important;*/
}
.twitter.active{
  /*background-color:#2094CA !important;*/
}
.tumblr.active{
  /*background-color:#d85b4b !important;*/
}
.youtube.active{
	/*background-color:#C92228 !important;*/
}
.active h1{
	opacity:.7 !important;
 	color:#000;
}
.active p{
  opacity:.7 !important;
  color:#000;
}

/*SOCIAL*/

/*MAIN-NAV --------------------------------------*/
#main-nav
{
	
	width: 100%;
	/*height: 600px;*/
	height: 45vh;
	overflow: hidden;
	/*background: green;*/
	
}
#nav
{
	height: 35vh;
  	list-style: none none;
  /*  margin: 70px 0px 70px 70px;
    padding-top: 45vh;*/
    line-height:-15;
    margin-left: 3%;
	
}
.nav-title{
    font-size: smaller;
}
#nav ul
{
	height:140%;
	font-family:'AbadiMT';
  	display: block;
    padding: 20px 20px 0px 0;
    color: #FFF;
    text-decoration: none;
	list-style:none;
}

#nav ul > li 
{
	/*height:40%;*/
	width:150px;
    float: left; /* Pour que les liens s’affichent horizontalement */
    position: relative; /* Crée un contexte de positionnement pour les sous-listes */
	padding-left:0px;
	margin-top:0px;
	line-height: 30px;
}
#nav ul > li > a {
	
    text-decoration: none;
    color: #fff;
}
#nav ul > li > a : hover {
    text-decoration: none;

}
#nav ul > li.subnav a 
{ 
	opacity:.5;
	text-transform:uppercase;
}

#nav ul  > li.subnav:hover a 
{ 
	opacity: 0.9;
}

#nav ul > li.subnav > ul li
{
	font-family:'abadiMTBold';
	 
}

#nav ul > li.subnav > ul li:hover a
{
	opacity: 1;
	
}
.active h1{
	opacity:.7 !important;
 	
}
.active p{
  opacity:.7 !important;

}
.subsub li a
{
}

/*EO MAIN-NAV*/

#logo{
    /*background-image:url();*/
    width: 50%;
    height: 80vh;
    position: absolute;
    right: 0px;
    /*background: red;*/
	
}
#logo_haut
{
    width: 80%;
    height: 45vh;
}
#logo_bas
{
    width: 80%;
  /* background: red;*/
}
#logo_bas p{
    margin-top: 20px;
    color: #fff;
    font-family:AbadiMT;
    font-weight: normal;
    opacity: 0.4;
    text-transform: uppercase;
    line-height: 20px;
}
#titre_logo {
font-family: logo;
color: #ffffff;
display: inline-block;
position: absolute;
top: 40vh;
display: none;
cursor: pointer;

}
#logo_haut img{
   height: 45vh;
position:relative;
opacity: 0.4;
/*transition-property: all;
transition-duration: 2s;*/
cursor: pointer;
opacity: 0;
left: 10vh;
}
#logo_haut img:hover
{
    opacity: 1;
}

#footer-information li
{
    display: inline-block;
    text-align: center;
    margin: auto;
    font-family: infos;
    
}

#footer-information li a
{
    text-decoration: none;
     margin-left: 10px;
    margin-right: 10px;
      font-family:infos;
    color:  #999999;
}

#footer-information li a:hover
{
    text-decoration: none;
     margin-left: 10px;
    margin-right: 10px;
    color:  #000;
}

/*FORMULAIRE ------------------------------*/
#form{
	width: 50%;
    height: 80vh;
    position: absolute;
    right: 0px;
	display:none;
}
#form2{
	width: 50%;
    height: 80vh;
    position: absolute;
    right: 0px;
	display:none;
}
.css-form{
	padding:100px;
	width: 50%;
    height: 80vh;
    position: absolute;
	/*background-color: blue;*/
}

.css-form h4{
	padding-left: 15px;
	color: white;
	opacity:.8;
}
#fieldset {
	border:none;
}
#css-form input
{
	width: 165px;
	font-family: 'MinionPro';
	padding: 10px 15px;
	margin-top: 20px;
	background: #e9eaea;
	border: 1px solid #FFF;
	
}
input[type=checkbox].css-textArea
{
	padding: 10px 15px;
	background: #e9eaea;
	border: 1px solid #e9eaea;
	color: #6d7273;
	position:relative;

}
input[type=checkbox].css-button
{
	float:left;
	background: #d2d2d3 !important;
	border: 1px solid #d2d2d3;
	color:#3a3b3c;
}
.warning 
{
	color: #fff;
	display:inline-block;
	margin-top: 20px;
	opacity:.8;
}
.warning a{
	color: #FFF;
	text-decoration:none;
}
.warning a:hover{
	text-decoration:underline;
}

input[type=checkbox].css-checkbox {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0;
	border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px; 
	display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	color:#FFF;
	opacity:.8;
	
}
input[type=checkbox].css-checkbox + label.css-label a {
	cursor:pointer;
	color:#FFF;
	text-decoration:none;
	opacity:1;
}
input[type=checkbox].css-checkbox + label.css-label a:hover {
	text-decoration:underline;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
						
.css-label{ background-image:url(../images/mac-style.png) }
