@charset "utf-8";

body{
	margin: 0;
	padding: 0;
}
/*Top Menu ---------------------*/
.banner {
  position: fixed;
  left: 0;
  right: 0;
  background: #3a3b3c;
  height: 50px;
  top: -30px;
  transition: all 1s ease;
  z-index: 500;
  /* ====================
  I'm doubling-up on the transitions, here,   
  for both :targeted and not-targeted 
  instances. This makes closing the menu just 
  as pleasant. */
}
.banner:target {
  top: 0;
  transition: all 1s ease;
  /* ====================
    Descend the banner when targeted.
    Swap opening and closing links as
    appropriate.
    */
}
.banner:target a#open-menu {
  display: none;
}
.banner:target a#close-menu {
  display: block;
}
.banner a#close-menu {
  display: none;
}
/* ====================
Here are some kind of ugly links. */
nav{
	background-color:#fff;
}
nav li {
  position: relative;
  list-style-type: none;
  display: inline;
}
a {
  color: #000;
  text-decoration: none;
}
.ribbon {
  position: absolute;
  top: 0;
  left: 1em;
  height: 50px;
}
.ribbon h1 {
	font-size:24px;
  	position: relative;
  	padding-top: 20px;
  	text-align: center;
  	color: #fff;
}
.ribbon h2{
	font-size:12px;
	text-align: center !important;
	margin-top: -5px;
}
.ribbon h1 a {
  color: #fff;
}
.ribbon h1 a#open-menu:before {
  font-size: 1.5em;
  
}
.ribbon h1 a#close-menu:before {
  font-size: 1.5em;
  
}
#top-menu{
	width:100%;
	height:80%;
	background:#3a3b3c;
	position:relative;
}
#bottom-menu{
	width:100%;
	height:100%;
}
#shop-online{
	left:0;
	height:25px;
	width:200px;
}
#shop-online a h1, a h2{
	cursor:pointer;
	opacity:.5;
}
#shop-online a:hover h1{
	opacity:.9;
}

#shop-online h1{
	font-size:24px;
	text-align:center !important;
	color:#FFF;
}
#shop-online h2{
	font-family:AbadiMT;
    font-weight: normal;
	font-size:14px;
	color:#FFF;
	margin-top:-5px;
	text-align:center !important;
}



p{
	margin-top: 20px;
    font-family:AbadiMT;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
	margin: 0 0 20px 0;	
}
img{
	border: 0;
}

#header, #intro, #second{
	width: 100%;
}

h8 {
	font-size:76px;
	text-transform:none;
}
#header{
	background:#6d7273;
	height: 16vh;
	position:fixed;
}
#nav{
	width:100%;
	height:60%;
	background-color:#3a3b3c;
	margin:0;
}
#footer{
	height: 100%;
}
.text{
	margin: 0 auto;
	min-width: 980px;
	width: 980px;
}
.text a{
	color:inherit;
}
.text a p {
	opacity: .5;
}
.text a:hover p {
	opacity: 1;
}

.text .float-left, .text .float-right{
	margin: 100px 0 0 0;
	position: relative;
	width: 700px;
	z-index:30;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}
.float-left h1{
	font-size:77px;
	text-transform:none;
	text-align:left !important;
}
.float-left h2{
	text-align:left !important;
}

.float-left p{
	text-align:left !important;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}
.float-right h1{
	font-size:77px;
	text-transform:none;
}

.float-right p, h1, h2, h3{
	text-align:right !important;
}

.center{
	font-size: 2.5em;
	padding: 80px 0;
	text-align: center;
}

#intro{
	background:url(../images/shop/afro.jpg) 50% 0 no-repeat fixed;
	color: white !important;
	height: 600px;
	margin: 0;
	padding: 160px 0 0 0;
	background-color:#6d7273;
}

#second{
	background: url(../images/shop/make5.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}


#second .bg{
	background: url(../images/shop/makeup/2.png) 50% 0 no-repeat fixed;
	background-size:500px;
	height: 1000px;
	padding-right: 100px;
	position: absolute;
	width: 900px;
	z-index: 20;
}

#third{
	background: url(../images/shop/makeup4.jpg) 50% 0 no-repeat fixed;
	background-size: 150%;
	color: #000;
	height: 550px;
	padding: 100px 0 0 0;	
}

#fourth{
	background: url(../images/shop/hair4.jpg) 50% 0 no-repeat fixed;
	background-repeat: no-repeat;
	background-size: 110%;
	color: white;
	height: 600px;
	padding: 100px 0 0 0;
}

#fifth{
	background: #3a3b3c;
	height: 5vh;
	margin: 0 auto;
	padding: 15px 0 0 0;
	z-index:50;
}

#bottom{
	background: #e9eaea;
	height: 25vh;
	margin: 0 auto;
}
