@charset "utf-8";

body{
	margin: 0;
	padding: 0;
}

/*Top Menu ---------------------*/
.banner {
  left: 0;
  right: 0;
  background: #3a3b3c;
  position: fixed;
  overflow: hidden;
  transition: all 1s ease;
  z-index: 500;
  /* ====================
  I'm doubling-up on the transitions, here,   
  for both :targeted and not-targeted 
  instances. This makes closing the menu just 
  as pleasant. */
}
a {
  color: #000;
  text-decoration: none;
}
.ribbon {
 
  top: 0;
  height: 10vh;
  width: 15%;
  text-align: center;
  background:#3a3b3c;
}
.ribbon h1 {
	font-size:24px;
  	padding-top: 20px;
  	text-align: center !important;
  	color: #fff;
	position: absolute;
	opacity:.7;
	width:200px;
}
.ribbon h2{
	font-size:12px;
	text-align: center !important;
	float: left;
	margin-top: 7vh;
	color:#fff;
	width:200px;
	opacity:.7;
}
.ribbon h1 a {
 
}
.ribbon h1 a#open-menu:before {
  font-size: 1.5em;
  
}
.ribbon h1 a#close-menu:before {
  font-size: 1.5em;
  
  
}
#close-menu
{
	display: none;
}
#top-menu{
	width:100%;
	padding-top: -50px;
	background:#3a3b3c;
}
.mysb-menu{
	width:900px;
	height:10vh;
	right: 0;
	margin-top:-60px;
	margin-right: 25px;
	position:absolute;
}
.mysb-menu li{
	color:#fff;
  	position: relative;
  	list-style-type: none;
  	display: inline-block;
  	padding-left:100px;
	padding-top:25px;
	float:right;
	opacity:.8;
}
.mysb-menu li ul{
	display:inline;
	float:right;
	margin-left:-40px;
}
.mysb-menu li ul li{
	float: left !important;
	color:#fff;
  	list-style-type: none;
	padding-left:5px;
	margin-top:-25px;
}
.mysb-menu li a{
	color:#fff;
}
.mysb-menu li a h10{
	
}
.mysb-menu li a:hover{
	opacity:.6;
}

#submenu
{
	width:100%;
	display:inline;
}
#bottom-menu{
	width:100%;
	height:5vh;
	background:#6d7273;
	margin:auto;
}
#bottom-menu li {
	color:#fff;
  	position: relative;
  	list-style-type: none;
  	display: inline-block;
  	margin-left:100px;
	padding-top:5px;
}
#bottom-menu li a{
	color:#fff;
	opacity:.5;
}
#bottom-menu li a:hover{
	opacity:.8;
}
h9{
	text-transform:uppercase;
	text-align:center;
	font-size:18px;
}
#bottom-menu li a h9{
	
}
#search{
	width:20%;
	float:right;
	margin-top: -28px;
	margin-right:20px;
	text-align:right;
}

#search input[type="text"] {
    background: url(../images/search-dark.png)  no-repeat 10px 6px #3a3b3c;
    border: 0 none;
    color: #777;
    width: 150px;
	height:15px;
    padding: 6px 15px 0px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
    width: 200px;
}
#bottom-submenu{
	width:100%;
	background-color:transparent;
	display: none;
}
.subsub-nav{
	width:100%;
	height:auto !important;
	background:#fff;
	display: none;
}
#menu-footer{
	width:100%;
	height: 100%;
	position:fixed;
	background:black ;
	display:none;
	opacity:.7;
	z-index:32;
}


p{
	margin-top: 20px;
    font-family:AbadiMT;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 20px;
	margin: 0 0 20px 0;	
}
img{
	border: 0;
}

#header, #intro, #second{
	width: 100%;
}

h8 {
	font-size:76px;
	text-transform:none;
}
#header{

	background:#fff;
	height: 35vh;
	display: none;
	
}
#nav{
	width:100%;
	height:60%;
	background-color:#3a3b3c;
	margin:0;
}
#content{
	height: 100%;
	/*padding-top:  34vh;*/
	
}
.text{
	margin: 0 auto;
	min-width: 980px;
	width: 980px;
}
.text a{
	color:inherit;
}
.text a p {
	opacity: .5;
}
.text a:hover p {
	opacity: 1;
}

.text .float-left, .text .float-right{
	margin: 100px 0 0 0;
	position: relative;
	width: 700px;
	z-index:30;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}
.float-left h1{
	font-size:77px;
	text-transform:none;
	text-align:left !important;
}
.float-left h2{
	text-align:left !important;
}

.float-left p{
	text-align:left !important;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}
.float-right h1{
	font-size:77px;
	text-transform:none;
}

.float-right p, h1, h2, h3{
	text-align:right !important;
}

.center{
	font-size: 2.5em;
	padding: 80px 0;
	text-align: center;
}

/*************************HAIR*****************************/
#intro{
	margin: 0;
	padding: 160px 0 0 0;
	background-color:#6d7273;
	background-size: 100% !important;
}

#second{
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second .bg{
	background-size:500px;
	height: 1000px;
	padding-right: 100px;
	position: absolute;
	width: 900px;
	z-index: 20;
}

#third{
	padding: 100px 0 0 0;	
}

#fourth{
	background-repeat: no-repeat;
	padding: 100px 0 0 0;
}

#fifth{
	background: #3a3b3c;
	height: 5vh;
	margin: 0 auto;
	padding: 15px 0 0 0;
	z-index:50;
}


#bottom{
	background:#3a3b3c;
	height: 5vh;
	margin: 0 auto;
}
#footer-social{
}

/*TOP NAVIGATION*/
#top-nav
{
	height: 35vh;
  	list-style: none none;
    line-height:-15;
	width:100% !important;
	background:red;
	display:inline;
}
.top-nav-title{
    font-size: smaller;
}
#top-nav ul
{
	height:140%;
	font-family:'AbadiMT';
    padding: 20px 20px 0px 0;
    color: #000;
    text-decoration: none;
	list-style:none;
	text-align:center;
	
}

#top-nav ul > li 
{
	/*height:40%;*/
	width:100px;
	margin-left: 50px !important;
    /*float: left; /* Pour que les liens s’affichent horizontalement */
    /*position: relative; /* Crée un contexte de positionnement pour les sous-listes */
	padding-left:0px;
	margin-top:0px;
	line-height: 30px;
	display: inline-block;
	margin:auto;
	text-align:left;
}
#top-nav ul li span{
	position:absolute;
}
#top-nav ul > li > a {
	
    text-decoration: none;
    color: #000;
}
#top-nav ul > li > a : hover {
    text-decoration: none;

}
#top-nav ul > li.subnav a 
{ 
	opacity:.5;
	text-transform:uppercase;
}

#top-nav ul  > li.subnav:hover a 
{ 
	opacity: 0.7;
}

#top-nav ul > li.subnav > ul li
{
	font-family:'abadiMTBold';
	 
}

#top-nav ul > li.subnav > ul li:hover a
{
	opacity: 1;
	
}
.active h1{
	opacity:.7 !important;
 	
}
.active p{
  opacity:.7 !important;

}
.subsub 
{
	
}
.pos
{
	position:absolute;
	text-align:left;
	z-index:0;
	display:none;
}
/*EO MAIN-NAV*/

/************************************************************************************
SOCIAL LINK a.sb
*************************************************************************************/
a.sb,
.sb a {
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -900em;
	color: #333;
	
	display: inline-block;
	position: relative;
	/*margin: 0 2px 5px 0;*/
	float:left;
}
/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
	text-indent: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/* SB LIST
================================================ */
.sb {
	margin: 0;
	padding: 0;
}
.sb li {
	margin: 0;
	padding: 0;
	display: inline;
}
/* STYLES
================================================ */

/* min style */
a.sb.min,
.sb.min a {
	background-color: transparent;
	border: none;
	opacity:.6;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a.sb.min:hover,
.sb.min a:hover {
	opacity:1;
}
/* ICONS
================================================ */
a.sb.twitter,
.sb a.twitter {
	background-image: url(../images/white_twitter_bird.png);
}

a.sb.facebook,
.sb a.facebook {
	background-image: url(../images/white_facebook.png);
}

a.sb.heart,
.sb a.heart {
	background-image: url(../images/white_heart.png);
}

a.sb.linkedin,
.sb a.linkedin {
	background-image: url(../images/white_linkedin.png);
}

a.sb.pinterest,
.sb a.pinterest {
	background-image: url(../images/white_pinterest.png);
}

a.sb.podcast,
.sb a.podcast {
	background-image: url(../images/white_podcast.png);
}

a.sb.rss,
.sb a.rss {
	background-image: url(../images/white_rss.png);
}

a.sb.share_this,
.sb a.share_this {
	background-image: url(../images/white_share_this.png);
}

a.sb.star,
.sb a.star {
	background-image: url(../images/white_star.png);
}

a.sb.vimeo,
.sb a.vimeo {
	background-image: url(../images/white_vimeo.png);
}

#info-bottom{
	width:auto;
	margin-left:5px;
	padding-top:10px;
	color:#fff;
	padding-left:25px;
	display:inline-block;
	font-size:12px;
}
#info-bottom a{
	padding-left:15px;
	color:#fff;
	text-transform:uppercase;
	opacity:.6;	
}
#info-bottom a:hover{
	opacity:1;
}
#split{
	padding-top:10px;
	color:#fff;
	opacity:.6;
	padding-left:45px;
	display:inline;
}

#bottom-subsubmenu{
  	list-style: none none;
    line-height:-15;
	width:100% !important;
	display:inline;
}
.subsubmenu-title{
    font-size: smaller;
	font-size:20px !important;
}
#bottom-subsubmenu ul
{
    padding: 20px 0px 0px 0;
    color: #000;
    text-decoration: none;
	list-style:none;
	text-align:center;
	margin:auto;
	margin: auto;
}

#bottom-subsubmenu ul > li 
{
	width:auto;
	margin-right:170px !important;
    /*float: left; /* Pour que les liens s’affichent horizontalement */
    /*position: relative; /* Crée un contexte de positionnement pour les sous-listes */
	margin-top:0px;
	line-height: 30px;
	display: inline-block;
	margin:auto;
	text-align:left;
}
#bottom-subsubmenu ul li span{
	position:absolute;
}
#bottom-subsubmenu ul > li > ul > li a {
	
    text-decoration: none;
    color: #000;
}
#bottom-subsubmenu ul > li > a : hover {
    text-decoration: none;

}
#bottom-subsubmenu ul > li.subsubnav a 
{ 
	opacity:.8;
	text-transform:uppercase;
}

#bottom-subsubmenu ul  > li.subsubnav:hover a 
{ 
	opacity: 0.7;
}

#bottom-subsubmenu ul > li.subsubnav > ul li
{
	font-family:'abadiMT';
	text-align:left;
	color:white;
	cursor:default;
}

#bottom-subsubmenu ul > li.subsubnav > ul li:hover a
{
	opacity: 1;
	
}
.active h1{
	opacity:.7 !important;
 	
}
.active p{
  opacity:.7 !important;

}
#bottom-subsubmenu ul > li.subsubnav > ul li.subpos 
{
	text-align:left;
	z-index:0;
	position:absolute !important;
	background:red !important;
}
#bottom-subsubmenu ul > li.subsubnav > ul li.subpos .white-text{
	color:green;
}
.subpos
{
	position: relative;
	
}
#bottom-submenu{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
#mysb{
	width:100%;
	height:45vh;
	background-color:white;
	display: none;
	position:fixed;
	z-index:90;
}
#mysb-footer{
	width:100%;
	height: 100%;
	position:fixed;
	background:black;
	display:none;
	opacity:.7;
	z-index:1;
}

#mysb-profil{
	width:100%;
	height:100%;
	background-color:white;
	margin-top: 125px !important;
}

#mysb-profil-A{
	width:20%;
	height:95%;
	float:left;
	margin-left:100px;
	border-right: 1px solid #6d7273 ; 
}
#mysb-profil-A a{
	opacity:.9;
}
#mysb-profil-A a:hover{
	opacity:1;
}
#mysb-profil-A img{
	 width:100px;
	 border-radius: 50%;
	 margin:auto;
}
#mysb-profil-A h1{
	font-size: 18px;
	padding-bottom: 25px;
	text-align:center !important;
}

#mysb-profil-A h3{
	font-family:'abadiMT';
	font-size: 16px;
	text-align:center !important;
	margin-top:25px !important;
}

#mysb-profil-A h6{
	font-family:'abadiMT';
	margin-top:-15px !important;
	font-size: 12px;
	text-align:center !important;
}

#mysb-profil-B{
	width:66%;
	height:100%;
	float:left;
	margin-left: 30px !important;
}
#mysb-profil-B li{
	display:inline-block;
	list-style:none;
}
#mysb-profil-B li a{
	opacity:.9;
}
#mysb-profil-B li a:hover{
	opacity:1;
}
#mysb-profil-B li h2{
	font-size:16px;
	font-family:'abadiMT';
	text-align:left !important;
}
#mysb-profil-B img{
	 width:80px;
	 margin-right:50px;
}
#mysb-profil-B img p{
	 color:blue;
}
#mysb-profil-B h1{
	font-size: 18px;
	margin-bottom:25px !important;
	text-align:left !important;
}
#mysb-profil-B p{
	margin-top:15px !important;
	
}
/*************ORDER*************/
#order{
	width:100%;
}
.order-header{
	height:10vh;
	background:#e9eaea !important;
	padding-top:130px;
}
.order-title{
	height:50px;
	width:20%;
	padding-left:20px;
	opacity:.5;
}
.order-title img{
	height:80px;
	float:left;
	margin-top:-20px;
	
}
.order-title h1{
	text-align:left;
	float:left;
}
.order-step{
	float:left;
	margin-top:-55px;
	margin-left:150px;
}
.order-step li{
	display:inline-block;
	list-style:none;
	margin-right: 40px;
}
.order-step li h2{
	font-size:18px;
	font-family:'abadiMT';
	opacity:.5;
}
.order-step li .active-step{
	opacity:1;
}
.order-step li a{
	opacity:.9;
}
.order-step li a:hover{
	opacity:1;
}
/********************HAUTER à régler**********/
.order-footer{
	background:#FFF;
	height:70vh !important;
}
#bild{
	width:70%;
	float:left;
	margin-top: 15px !important; 
	
	position:absolute;
}
#bild h10{
	font-size:25px;
	opacity:.7;
}
#bild li{
	display:inline-block;
	list-style:none;
	margin-right: 100px;
	min-height: 20vh;
}
#pub{
	margin-top:50px;
}
#pub li{
	display:inline-block;
	list-style:none;
	margin-right: 10px;
}
#pub li img{
	 width:50px;
	 margin-right:40px;
}
#pub li h5{
	font-family:'abadiMT';
	text-align:left !important;
}
#pub li p{
}
#bild li h3{
	font-size:15px;
	font-family:'abadiMT';
	opacity:.5;
}
#helpdesk{
	width:28%;
	float:right;
	margin-top: 15px !important;
	padding-left: 22px;
	border-left:1px solid #6d7273;
}
#helpdesk h1{
	text-align:left !important;
	float:left;
	width:100%;
	opacity:.7;
}
#helpdesk p{
	width:90%;
	opacity:.7;
}
