<!doctype html>
<html lang="en">
	
	
<head>
	
    <title>{{title}}</title>
 <link rel='stylesheet' href='web/css/bootstrap.css'>
    <link rel='stylesheet' href='web/css/index.css'>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script src='web/script/index.js'></script>
		
		
	
</head>
<body>
	
	<div id='page_pricipale' class='page-transition'>
		  
    <header>

	<div id='support'>
	<div id="logo">
		
	<div id='logo_haut'>
		<a><img src='web/images/logo.png'>
			<div id='titre_logo'>My S&B</div></a>
	</div><!--logo_bas-->
	<div  id='logo_bas'>
	<p>Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes
	latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine superabatur ingenti,
	quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios
	eminus lacessens et ululatu truci perterrens.</p>
	</div><!--logo_haut-->
	</div><!--logo-->
    
    {% include 'web/accueil-formulaire.html' %} <!-- formulaire de connection "déjà client" -->
    {% include 'web/accueil-formulaire2.html' %} <!-- formulaire de connection "déjà client" -->

	
	<nav id='main-nav'><!--debut du corps principale---//2d-->
        </nav><!--fin du corps principale---//2f-->
	
      <!-- Navigation -->
      <div id="nav" class="miniWidth">
      <ul >
          <li class="subnav" id='nav1'><a href="#" class='nav-title'>Actualités</a>
              <ul class='subsub'>
                  <li><a href="#">S&BNews </a></li>
                  <li><a href="#">S&BTV </a></li>
                  <li><a href="#">S&BBlog </a></li>
              </ul>
          </li>
          <li class="subnav" id='nav2'><a href="#" class='nav-title'>Espace Beauté</a>
              <ul class='subsub'>
                  <li><a href="#">Bruxelles</a></li>
                  <li><a href="#">Anvers</a></li>
                  <li><a href="#">Liège</a></li>
              </ul>
          </li>
          <li class="subnav" id='nav3'><a href="#" class='nav-title'>Shopping</a>
              <ul class='subsub'>
                  <li><a href="#">Coiffure</a></li>
                  <li><a href="#">Make <span style="font-size:11px">up</span></a></li>
                  <li><a href="#">Body <span style="font-size:11px">care</span></a></li>
                  <li><a href="#">Nails</a></li>
              </ul>
          </li>
          <li class="subnav" id='nav4'><a href="#"  class='nav-title'>Soul&Beauty</a>
                <ul class='subsub'>
                    <li><a href="#">Hystory</a></li>
                    <li><a href="#">Egéries</a></li>
                </ul>
          </li>
      </ul>
      </div>
      
      
   
 
	
	
	
    
	
	</div><!--support-->
    
    </header><!--fin header-->
    
    <footer>
          <div id='footer-slide'>
              {% include "web/plugin/slide2/index.html" %}
          </div><!--footer-slide-->
          
          <div id='footer-social'>
              <center>
              
              <div id="social" >
                  
              <h3 > Follow us</h3>
              <ul >
                    <li class="facebook" data-text="Like us on Facebook" data-network="facebook"><a href="#">Facebook</a></li>
                    <li class="twitter" data-text="Tweet us on Twiiter" data-network="twitter"><a href="#">Twitter</a></li>
                    <li class="tumblr" data-text="Subscribe you & like our Tumblr" data-network="google"><a href="#">Tumbler</a></li>
                    <li class="youtube" data-text="Subscribe you on our channel" data-network="pinterest"><a href="#">Youtube</a></li>
              </ul>
          
              </div>
      
              </center>
     
              
          </div><!--footer-social-->
          
          <div id='footer-information'>
              <ul>
                    <li>
                    <a href="#" class="arial-narrow">
                    Boutiques 
                    </a>
                    </li>
                    <li>
                    <a href="#" class="arial-narrow">
                    Contact
                    </a>
                    </li>
                    <li>
                    <a href="#" class="arial-narrow">
                    Mentions légales
                    </a>
                    </li>
                    <li>
                    <a href="#" class="arial-narrow" target="">
                    Carrières
                    </a>
                    </li>
                    <li>
                    <a href="#" class="arial-narrow" target="">
                    Newsletter
                    </a>
                    </li>
                    <li>
                    <a href="http://google.fr" class="arial-narrow" target="" data-chargement='ajax' data-page=''>
                    Aide
                    </a>
                    </li>
                    <li>
                    <a href="http://yahoo.fr" class="arial-narrow" target="">
                    Langue
                    </a>
                    </li>
             </ul>
          </div><!--footer-information-->
      
    </footer>
   
  </div>
</body>
</html>
