<div class="banner" id="banner">
	<div id="header">
    <!-- Navigation -->
    <div id="top-nav">
    <ul >
        <li class="subnav" id='nav1'><a href="#" class='top-nav-title'>Actualités</a>
            <ul class='subsub'>
            <div class="pos">
                <li><a href="#">S&BNews </a></li>
                <li><a href="#">S&BTV </a></li>
                <li><a href="#">S&BBlog </a></li>
            </div>
            </ul>
            
        </li>
        <li class="subnav" id='nav2'><a href="#" class='top-nav-title'>Espace Beauté</a>
            <ul class='subsub'>
            <div class="pos">
                <li><a href="#">Bruxelles</a></li>
                <li><a href="#">Anvers</a></li>
                <li><a href="#">Liège</a></li>
            </div>
            </ul>
        </li>
        <li class="subnav" id='nav3'><a href="/shop" class='top-nav-title'>Shopping</a>
            <ul class='subsub'>
            <div class="pos">
                <li><a href="/shop/hair">Coiffure</a></li>
                <li><a href="/shop/make-up">Make <span style="font-size:11px">up</span></a></li>
                <li><a href="/shop/bodyCare">Body <span style="font-size:11px">care</span></a></li>
                <li><a href="/shop/accessories">Accessories</a></li>
            </div>
            </ul>
        </li>
        <li class="subnav" id='nav4'><a href="#"  class='top-nav-title'>Soul&Beauty</a>
              <ul class='subsub'>
              <div class="pos">
                  <li><a href="/">Home</a></li>
                  <li><a href="#">Hystory</a></li>
                  <li><a href="#">Egéries</a></li>
              </div
              ></ul>
        </li>
    </ul>
    </div>

	</div>
	
    <div id="top-menu">
        <div class="ribbon">
                  <a href="#" data-type-lien="noClick" id="open-menu">
    
                            <h1>Soul & Beauty</h1>
                            <h2>Shop online</h2>
                  </a>
                  <a href="#" data-type-lien="noClick" id="close-menu">
                            <h1>Close</h1>
                            <h2>Shop online</h2>
                  </a>
         </div>
         
         <div class="mysb-menu"> 
         
              <ul>
              	  <li id="shop-mysb"><a href="#" data-type-lien="noClick"><h10>MyS&B </h10></a></li>
                  <li>PAYS :
                  	<ul>
                    	<li><a href="?lang=fr" {% if lang == "fr" %} class="lang" {% endif %}><h10>FR</h10></a></li>
                        <li><a href="?lang=nl" {% if lang == "nl" %} class="lang" {% endif %}><h10>NL</h10></a></li>
                        <li><a href="?lang=en" {% if lang == "en" %} class="lang" {% endif %}><h10>EN</h10></a></li>
                    </ul>
                  </li>
                  <li><a href="/shop/basket"><h10>MON PANIER (0)</h10></a></li>
              </ul>
        
         </div>
     </div>
	 
	<div id="submenu">
        <div id="bottom-menu">
              <ul>
                  <li><a href="/shop/hair" class='bottom-menu' id='Hair' ><h9>Hair</h9></a></li>
                  <li><a href="/shop/makeup" class='bottom-menu' id='Make-Up' ><h9>Make-Up</h9></a></li>
                  <li><a href="/shop/accessories" class='bottom-menu' id='Accessoiries' ><h9>Accessoiries</h9></a></li>
                  <li><a href="/shop/bodycare" class='bottom-menu' id='Bodycare' ><h9>Bodycare</h9></a></li>
              </ul>
        </div>
        <form method="get" action="/search" id="search">
          <input name="q" type="text" size="40" placeholder="Search..." />
        </form>
       
    </div> 
   
    <!--bottom-submenu Hair-Makeup-Accessories-BodyCare-->
    {% include 'web/shop/subsub-menu.html' %}
    
    </div><!--#header-->
    
    <div id="menu-footer"></div>
    
    <div id="mysb">
    	<div id="mysb-profil">
        	<div id="mysb-profil-A">
            	<h1>Mon profile</h1>
                <center><a href="#"><img src="/web/images/shop/afro-hairstyles-6.jpg"/></a></center>
                <a href="#">
                <h3>Janelle Monéa</h3>
                <h6>Bruxelles, Belgium</h6>
                </a>
            </div>
            <div id="mysb-profil-B">
            	
                <ul>
                <h1>Remplir mon panier</h1>
                <li>
                	<a href="#">
                    <img src="/web/images/shop/hair.png"/img>
                    <br />
                    <h2>Fresh hair</h2>
                    </a>
                </li>
                <li>
                	<a href="#">
                    <img src="/web/images/shop/lips.png"/img> 
                	<br />
                    <h2>Glossy lips</h2>
                    </a>
                </li>
                <li>
                	<a href="#">
                    <img src="/web/images/shop/make.jpg"/img>
                    <br />
                    <h2>Makeup 4live</h2>
                    </a>
                </li>
                <li>
                	<a href="#">
                    <img src="/web/images/shop/live-young.png"/img>
                    <br />
                    <h2>Live young</h2>
                    </a>
                </li>
                <li>
                	<a href="#">
                    <img src="/web/images/shop/dont.png"/img>
                    <br />
                    <h2>Don't miss</h2>
                    </a>
                </li>
                <p>Et quia Montius inter dilancinantium ma- nus spiritum efflaturus Epigonum.</p>
                
                <form id="css-form" action="#" method="post" style="margin-left:-15px"><!-- connect form -->
      				<fieldset id="fieldset">
                
                		<a href="#"> <input id="login" type="button" value="DECOUVRIR" name="connect" class="css-button" /></a>
                	</fieldset>
    			</form><!-- fin connect form -->
                </ul>
                
            </div>
        </div>
        <div id="mysb-footer"></div>
    </div>
</div> <!--#banner-->




